{% extends "base.html" %}
<html>
<head>
{% block head %}
    <meta charset="utf-8" />   
    <title>Edit Profile</title>   
{% endblock head %}
</head>
<body>
{% block body %}
    <div class="container" style="z-index:1; padding-top:65px;">
        <h1>Change Password</h1>
        <br>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-primary" type="submit" name="button">Save</button>
        </form>
    </div>
{% endblock body %}
</body>
</html>